* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #2d2e32;
}

#webgl {
  width: 100vw;
  height: 100vh;
  display: block;
}
canvas.webgl {
  transition: opacity 0.5s ease;
  opacity: 1;
}
canvas.webgl.fade-out {
  opacity: 0;
}
